<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.sap.adt.tools.core.ui.quickAssistProcessors">
         <quickAssistProcessor
          id="com.abapblog.adt.quickfix.abapQuickFixRAC"
          class="com.abapblog.adt.quickfix.RemoveAllComments"
          name="ABAP Quick Assist Processor Remove All Comments">
          </quickAssistProcessor>
   </extension>
  <extension
         point="com.sap.adt.tools.core.ui.quickAssistProcessors">
         <quickAssistProcessor
          id="com.abapblog.adt.quickfix.abapQuickFixRSC"
          class="com.abapblog.adt.quickfix.RemoveSelectedComments"
          name="ABAP Quick Assist Processor Remove Selected Comments">
          </quickAssistProcessor>
   </extension>
  <extension
         point="com.sap.adt.tools.core.ui.quickAssistProcessors">
         <quickAssistProcessor
          id="com.abapblog.adt.quickfix.abapQuickFixRIC"
          class="com.abapblog.adt.quickfix.ReplaceIconsWithConstants"
          name="ABAP Quick Assist Processor Replace Icons With Constants">
          </quickAssistProcessor>
   </extension>
  <extension
         point="com.sap.adt.tools.core.ui.quickAssistProcessors">
         <quickAssistProcessor
          id="com.abapblog.adt.quickfix.abapQuickFixTCTE"
          class="com.abapblog.adt.quickfix.TranslateCommentToEnglish"
          name="ABAP Quick Assist Processor Translate Comment To English">
          </quickAssistProcessor>
   </extension>



</plugin>
