<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.sap.adt.tools.core.ui.quickAssistProcessors">
         <quickAssistProcessor
          id="com.abapblog.adt.quickfix.abapQuickFixRAC"
          class="com.abapblog.adt.quickfix.assist.comments.RemoveAllComments"
          name="ABAP Quick Assist Processor Remove All Comments">
          </quickAssistProcessor>
   </extension>
  <extension
         point="com.sap.adt.tools.core.ui.quickAssistProcessors">
         <quickAssistProcessor
          id="com.abapblog.adt.quickfix.abapQuickFixRSC"
          class="com.abapblog.adt.quickfix.assist.comments.RemoveSelectedComments"
          name="ABAP Quick Assist Processor Remove Selected Comments">
          </quickAssistProcessor>
   </extension>
  <extension
         point="com.sap.adt.tools.core.ui.quickAssistProcessors">
         <quickAssistProcessor
          id="com.abapblog.adt.quickfix.abapQuickFixRFLC"
          class="com.abapblog.adt.quickfix.assist.comments.ReplaceFullLineWithInlineComment"
          name="ABAP Quick Assist Processor Replace Fulline with Inline Comments">
          </quickAssistProcessor>
   </extension>
  <extension
         point="com.sap.adt.tools.core.ui.quickAssistProcessors">
         <quickAssistProcessor
          id="com.abapblog.adt.quickfix.abapQuickFixRIC"
          class="com.abapblog.adt.quickfix.assist.iconConstants.ReplaceIconsWithConstants"
          name="ABAP Quick Assist Processor Replace Icons With Constants">
          </quickAssistProcessor>
   </extension>
  <extension
         point="com.sap.adt.tools.core.ui.quickAssistProcessors">
         <quickAssistProcessor
          id="com.abapblog.adt.quickfix.abapQuickFixTCTE"
          class="com.abapblog.adt.quickfix.assist.comments.TranslateCommentToEnglish"
          name="ABAP Quick Assist Processor Translate Comment To English">
          </quickAssistProcessor>
   </extension>
     <extension
         point="com.sap.adt.tools.core.ui.quickAssistProcessors">
         <quickAssistProcessor
          id="com.abapblog.adt.quickfix.abapQuickFix.Syntax.ReadTable"
          class="com.abapblog.adt.quickfix.assist.syntax.statements.StatementsAssistProcessor"
          name="ABAP Quick Assist Processor Read Table to Assign">
          </quickAssistProcessor>
   </extension>
      <extension
                  point="org.eclipse.ui.preferencePages">
               <page
               		 category="com.sap.adt.tools.core.ui.preferencePages.ABAP"
                     class="com.abapblog.adt.quickfix.preferences.QuickFixPreferences"
                     id="com.abapblog.adt.quickfix.preferences.QuickFixPreferences"
                     name="Quick Fix">
               </page>
            </extension>
            <extension
                  point="org.eclipse.core.runtime.preferences">
               <initializer
                     class="com.abapblog.adt.quickfix.preferences.PreferenceInitializer">
               </initializer>
            </extension>

</plugin>
