<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.sap.adt.tools.core.ui.quickAssistProcessors">
         <quickAssistProcessor
          id="com.abapblog.adt.quickfix.abapQuickFix"
          class="com.abapblog.adt.quickfix.abapAssistProcessor"
          name="ABAP Quick Assist Processor2">
 <!--     <handledMarkerTypes>
         <markerType
               id="com.sap.adt.atc.finding.warning">
         </markerType>
         <markerType
               id="com.sap.adt.atc.finding.error">
         </markerType>
         <markerType
               id="com.sap.adt.atc.finding.info">
         </markerType>
      </handledMarkerTypes>
-->
          </quickAssistProcessor>
   </extension>

</plugin>
